
body {
  margin: 0px;
  padding: 0px;
}

.asia 
{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
overflow: auto;
background-color: #000; 
background-image: url(../img/asiabackground.jpg);
background-repeat: no-repeat; 
background-position: center;
/*background-attachment: fixed;       */
-webkit-background-size: cover;
background-size: cover;     
} 


div.titlename {
    text-align: center;
    margin-top: 100px;
}

p
{   
    font-size: 11px;
    font-weight: 600;
    font-family: PingFang SC;
    text-align: center;
} 

.titlelogot
{
    font-size: 18px;
    font-weight: 600;
    font-family: PingFang SC;
    text-align: center;
    margin-top: -16px;
}

.p1{
    font-size: 15px;
    font-weight: 300;
    font-family: PingFang SC;
    text-align: center;
    letter-spacing:3px;
    line-height:30px;
    margin-bottom: 30px;
}

.p2
{   
    font-size: 15px;
    font-weight: 300;
    font-family: PingFang SC;
    text-align: left;
    letter-spacing:3px;
    line-height:30px;
    margin-bottom: 30px;
    margin-left:30px;
} 

.p3
{   
    font-size: 15px;
    font-weight: 300;
    font-family: PingFang SC;
    text-align: left;
    margin-left: 30px;
    letter-spacing:3px;
    line-height:31px;
} 

.p4
{   
    font-size: 15px;
    font-weight: 300;
    font-family: PingFang SC;
    text-align: left;
    color:#e5ca87;
    letter-spacing:3px;
    line-height:30px;
    margin-bottom: 30px;
    margin-left:30px;
} 

div.Mainbuttonbox
{
    text-align: center;
    margin-top:25px;
}

div.headbuttonbox
{
    text-align:left;
    margin-top:100px;
    margin-left:25px;
    margin-bottom:5px;
}

div.pagename {
    text-align:left;
    margin-left:30px;
    font-size: 28px;
    font-weight: 600;
    font-family: PingFang SC;
}

div.pagename2 {
    text-align:left;
    margin-left:30px;
    font-size: 28px;
    font-weight: 600;
    font-family: PingFang SC;
    color: #e5ca87;
}

a.Mainbutton
{   
    background-color:#EFEFEF;
    border:none;
    border-radius:22px;
    padding:6px 16px;
    text-align: center;
    display: inline-block;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight:500;
    letter-spacing:1px;
    color:#000000;
    margin: 4px 2px;
    cursor:pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

a.Mainbutton:link {
    text-decoration:none;
}

a.Mainbutton:active {
    background-color: #bc9f56;
    color: white; 
}

.button2{
    background-color:#bc9f56;
    border:none;
    border-radius:22px;
    padding:6px 16px;
    text-align: center;
    display: inline-block;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight:500;
    letter-spacing:1px;
    color:#ffffff;
    margin: 4px 2px;
    cursor:pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}


.huabu {
    margin-top: 40px;
    text-align: center;
}

.pagehuabu {
    margin-top: 40px;
    text-align: center;
}



.yuan {
    width: 168px;
    transition: All 0.1s ease-in-out;
    -webkit-transition: All 0.1s ease-in-out;
    -moz-transition: All 0.1s ease-in-out;
    -o-transition: All 0.1s ease-in-out;
}

.yuan:active {
    width: 200px;
    margin: 16px;
    transition: All 0.1s ease-in-out;
    -webkit-transition: All 0.1s ease-in-out;
    -moz-transition: All 0.1s ease-in-out;
    -o-transition: All 0.1s ease-in-out;
}

.tu {
    width: 375px;
}

.tu2 {
    width: 220px;
    margin-top: -20px;
}

.erweima
{
    width: 200px;
}